@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$theme-primary-color:#001C64;
$theme-secondary-color: #E8EAF6;
$theme-light-color: #FFFFFF;
$theme-background-color: #C5CAE9;
$theme-light-blue-color: #8C9EFF;


$theme-primary-font: 'Poppins', sans-serif;