@import "../../variables";

.contact-us-container {
    padding: 1rem;
    min-height: 90vh;
    width: 100%;
    background-color: $theme-background-color;
    font-family: $theme-primary-font;
    display: flex;
}

.grid {
    background-color: $theme-background-color;
    display: grid;
    min-height: 100%;
    width: 100%;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    grid-template-areas: "texto imagen";
}

.contact-us-text {
    grid-area: "texto";
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
    gap: 1rem;
}

img {
    width: 100%;
    height: 100%;
}

.img {
    grid-area: "imagen";
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: end;
    align-self: flex-end;
}